* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    padding-left: 18px;
    padding-right: 18px;
}

.top-main {

    background-color: white;
}

header {
    background-color: white;
    width: 100%;
}

h1 {
    font-family: 'Nerko One', cursive;
    color: #ff9614;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 27px;
}

h2 {
    color: #4e3969;
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 15px;
    margin-left: 30px;
}

.col-item {
    margin: 0px;
}

.m-right {
    margin-right: 0px;
}

body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    background-color: #f6f5f3;
}

.title {
    color: #b1d1f3;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#img-dolce {
    width: 100%;
}

.d-none {
    display: none;
}

.preparazione {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.prep-margin {
    margin-bottom: 20px;

}

.icon {
        display: flex;
        align-items: center;
        gap: 27px;
        margin-top: 20px;
        margin-bottom: 20px;
}


.icons {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: white;
}

.icons img {
    width: 20px;
    height: 20px;
}

.important {
    font-size: 20px;
}

.line {
    color: orangered;
    width: 60px;
    border: 1px solid;
    margin-top: 15px;
}

.mid-main img {
    width: 65%;
    margin-left: 50px;
    margin-top: 20px;
}

@media screen and (min-width: 768px) {


    h1 {
        width: 100%;
        text-align: left;
    }

    .preparazione {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .prep-margin {
        margin-left: 1px;
    }

    .col-item {
        padding-left: 90px
    }

    #img-dolce {
        width: 97%;
    }


}


@media screen and (min-width: 992px) {




}