* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 585px;
}


h1 {
    font-family: 'Nerko One', cursive;
    color: #ff9614;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    background-color: white;
}

body {
    font-family:  Montserrat, 'Helvetica Neue', sans-serif;
    background-color: #f6f5f3;
}


.d-none {
    display: none;
}

.preparazione {
    display: flex;
    flex-direction: column;
}




@media screen and (min-width: 768px) {


    h1 {
        width: 100%;
        text-align: left;

    }

    



}


@media screen and (min-width: 992px) {
    




}